.projects{
    display: flex;
    flex-wrap: wrap;
  }
  .projectHead{
    width:100%;
  }
  .projectList{
    width: auto;
    list-style: none;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  .reviewsButton{
    width: 500px;
    height: 333px;
    background: url("https://i.imgur.com/A5a6JD6.png?1") ;
    opacity: .7;
    margin: 15px 15px;
    font-size: 45px;
    border-radius: 8px;
    font-family: 'ZCOOL XiaoWei', serif;
    transition: .5s ease-in-out;
  }
  .reviewsButton:hover{
    background:url("https://i.imgur.com/A5a6JD6.png?1");
    opacity: 1;
    transform: scale(1.1);
  }
  .diariesButton{
    font-family: 'ZCOOL XiaoWei', serif;
    height: 333px;
    width: 500px;
    font-size:45px;
    border-radius: 8px;
    margin: 15px 15px;
    background:url("https://i.imgur.com/EiM3pEG.png?1");
    opacity: .7;
    transition: .5s ease-in-out;
  }
  .diariesButton:hover{
    transform: scale(1.1);
    opacity:1;
    background:url("https://i.imgur.com/EiM3pEG.png?1")
  }
  .listItem{
    display:flex;
    flex-direction: column;
  }
  .gitLink{
    position: relative;
    color:blue;
  }
  .gitLink:hover{
    position: relative;
    color: darkblue;
  }