.resumeButton{
  height: 50px;
  width: 25%;
  font-size: 25px;
  background-color: black;
  color:#994d00;
  border:black;
  font-family: 'ZCOOL XiaoWei', serif;
  margin: 10px;
}
.resumeButton:hover{
  background-color: #4a4d52;
}