.App {
  text-align: center;
  -webkit-flex: auto;
 background-attachment: fixed;
 background-size: 100%;
 height: 100%;
 width: 100%;
}

.navStyles{
  height:80px;
  display: flex;
 justify-content: space-between;
  /* padding: 20px; */
  background-color: lightgray;
  border-bottom: solid #994d00;
}

.ulStyles{
    display:flex;
    list-style: none;
    width: 100% ;
    margin: 0;
    padding: 0;
  }

.aStyles{
    color: darkgreen;
    width:100%;
  }

  .buttonStyles{
    height: 100%;
    width: 100%;
    font-size: 25px;
    background-color: black;
    color:#994d00;
    border:black;
    font-family: 'ZCOOL XiaoWei', serif;
  }
  .buttonStyles:hover{
    background-color: #14141f;
  }
  .projects{
    display: flex;
    flex-wrap: wrap;
  }
  .projectHead{
    width:100%;
  }
  .projectList{
    width: auto;
    list-style: none;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  .reviewsButton{
    width: 500px;
    height: 333px;
    background:darkgray;
    font-size: 45px;
    border-radius: 8px;
    font-family: 'ZCOOL XiaoWei', serif;
  }
  .reviewsButton:hover{
    background:url("https://i.imgur.com/A5a6JD6.png?1");
  }
  .diariesButton{
    font-family: 'ZCOOL XiaoWei', serif;
    height: 333px;
    width: 500px;
    font-size:45px;
    border-radius: 8px;
    background: darkgray;
  }
  .diariesButton:hover{

    background:url("https://i.imgur.com/EiM3pEG.png?1")
  }