.App {
  text-align: center;
  background-color: ;
  -webkit-flex: auto;
 background-attachment: fixed;
 background-size: 100%;
 height: 100%;
 width: 100%
}

.navStyles{
  height:100px;
  display: flex;
 justify-content: space-between;
  padding: 20px;
  background-color: lightgray;
  border-bottom: solid red;
}

.ulStyles{
    display:flex;
    list-style: none;
    justify-content: space-between;
    width: 100% 
  }

.aStyles{
    padding: 25px;
    color: darkgreen
  }

  html, body{
    height:100%
  }